.form-header {
  margin: 0.5rem;
}

.form-inputs {
  margin-bottom: 1rem;
}

.form-input {
  margin: 0.3rem;
}

label {
  display: block;
}

input[type='text'] {
  width: 7rem;
}

.form-button {
  padding: 0.3rem 1rem;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    display: inline;
    width: 50%;
  }
}
