.board {
  display: flex;
  width: 55rem;
  height: 40rem;
  margin: 0 auto;
  background-color: rgb(221, 187, 34);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.pieceholes-container {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: center;
}

.column:hover {
  background-color: orangered;
}
