.board {
  display: flex;
  width: 55rem;
  height: 40rem;
  margin: 0 auto;
  background-color: rgb(221, 187, 34);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  -webkit-box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.pieceholes-container {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: center;
}

.column:hover {
  cursor: pointer;
}

.blue-bg:hover {
  background-color: rgba(0, 0, 255, 0.7);
}

.red-bg:hover {
  background-color: rgba(255, 0, 0, 0.7);
}

.no-bg:hover {
  background-color: transparent;
}
