:root {
  --hover-color-1: rgba(0, 0, 255, 0.6);
  --hover-color-2: rgba(255, 0, 0, 0.6);
}

.board {
  display: flex;
  width: min(55rem, 95vw);
  height: min(40rem, 69vw);
  margin: 0 auto;
  background-color: rgb(221, 187, 34);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  -webkit-box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.pieceholes-container {
  margin: min(2.5rem, 6vw);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
}

.column:hover {
  cursor: pointer;
}

.p1-bg:hover {
  background-color: var(--hover-color-1);
}

.p2-bg:hover {
  background-color: var(--hover-color-2);
}

.no-bg:hover {
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .p1-bg:hover {
    background-color: transparent;
  }

  .p2-bg:hover {
    background-color: transparent;
  }
}
