.footer {
  background-color: #49597a;
  width: 100%;
  height: 2rem;
  position: absolute;
  bottom: 0;
}

.footer-text {
  text-align: center;
  color: white;
}

.footer-text a {
  font-weight: 700;
  color: white;
}
